{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contrataFacil</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
   <header>
        <div class="interior">
            <a href="/" class="logo"><img src="{% static 'logo.png' %}" alt="Logo" class="logo"></a>
                <nav class="navbar">
                    <ul>
                        <li><a href="/about/us">Sobre Nosotros</a></li>
                        <li><a href="/about/us">Contactanos</a></li>
                        <li><a href="/seguro/social/">Seguro Social</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/be/worker/">Ser trabajador</a></li>
                        <li class="submenu">
                            <a href="">Profile</a>
                            <ul class="children">
                                <li><a href="/profile/">View Profile</a></li>
                                <li><a href="/logout/">Logout</a></li>
                            </ul>
                        {% else %}
                        <li><a href="/signup/">Sign Up</a></li>
                        <li><a href="/signin/">Sign In</a></li>
                        {% endif %}
                </nav>
        </div>
   </header>

    {% block content %}
    {% endblock %}

    <footer>
        ContrataFacil ® 2023
    </footer>
</body>
</html>
