{% extends 'base.html' %}
{% load static %}
{%block content %}

<div class="container">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <main  class="container-body">
        <div class="row">
            <section class="col-md-4 offset-md-4">
                <form action="/signin/" method="POST" class="form">
                    <h1 class="title"> Eventix </h1>
                    <p></p>
                    <h2 class="title2r"> Sign Up</h2>

                    {{error}}
                    {% csrf_token %}
                    <dic class="form__container">
                        <div class="field">
                            <input type="text" name="username" id="username" class="form-input" placeholder=" ">
                            <label class="form-label" for="username">Username:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="password" name="password" id="password" class="form-input" placeholder=" ">
                            <label class="form-label" for="password">Password:</label>
                            <span class="form-line"></span>
                        </div>

                        <button class="form-submit">
                            Signin
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </main>
</div>
{% endblock %}
