{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <main class="container-body">
        <div class="row">
            <div class="col-md-5 mx-auto my-5">
                <form method="POST" class="form">
                    <h1 class="text-center"> Sign Up</h1>
                    {{error}}
                    {% csrf_token %}
                    <div class="form__container">
                        <div class="field">
                            <input type="text" name="username" id="username" class="form-input"placeholder=" ">
                            <label for="username" class="form-label">Usuario</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="password" name="password1" id="password1" class="form-input" placeholder=" ">
                            <label for="password1" class="form-label">Contraseña</label>
                        </div>
                        <div class="field">
                            <input type="password" name="password2" id="password2" class="form-input" placeholder=" ">
                            <label for="password2" class="form-label">Confirmar contraseña</label>
                            <span class="form-line" class="form-label"></span>
                        </div>
                        <button class="form-submit">
                            Signup
                        </button>    
                    </div>
                    
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}